/* Main CSS for the movie application's public-facing side. */

html {
  min-height: 100%;
}

body {
  font-family: 'Arimo', sans-serif;
  margin: 0 20px;
}

.user-masthead, .head-content, .help {
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px 0;
}

  .user-masthead {
    border-bottom: 1px solid #A4A4A4;
  }

  .head-content {
    padding: 1.6em 0;
    text-align: center;
  }

  .head-content h1 {
    font-size: 32px;
    margin: 0;
  }

  .head-content p {
    font-size: 24px;
    margin: 0;
    padding: 6px 0;
  }

.form {
  margin: 12px auto;
  max-width: 1200px;
  text-align: center;
}

  .form #query {
    width: 80%;
    padding: 12px 18px;
    font-size: 26px;
  }

  .form #submit {
    background-color: #F7F7F7;
    border: 1px solid #000;
    font-size: 26px;
    padding: 12px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

    .form #submit:hover {
      background-color: #000;
      color: #FFF;
    }

.help {
  background-color: #E6E6E6;
  border-radius: 16px;
  font-size: 20px;
  margin: 4em auto;
  max-width: 1000px;
}

  .help p, .help h3 {
    margin: 6px 12px;
    padding: 8px;
  }

.subtitle {
  font-size: 14px;
}

#results, #loading {
  max-width: 1200px;
  margin: 40px auto;
}

#loading {
  font-size: 22px;
  text-align: center;
}

.user-listing {
  border-collapse: collapse;
  font-size: 22px;
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.user-listing td {
  padding: 8px;
}

.user-listing thead tr td {
  background-color: #333333;
  color: #fff;
  font-weight: bold;
}

.user-listing tbody td {
  max-width: 600px;
}

/* Link styles */
a:link, a:visited {
  color: #0174DF;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

a.action-link {
  font-size: 18px;
}

input.action {
  background-color: #585858;
  border: 1px solid #585858;
  color: #fff;
  font-size: 18px;
  margin: 4px 0;
  padding: 4px 8px;
}

  input.action:hover {
    background-color: #F2F2F2;
    color: #000;
  }

#add-success {
  background-color: #D8F6CE;
  color: #088A29;
  display: none;
  font-size: 18px;
  padding: 12px;
}

#add-error {
  background-color: #F8E0E0;
  color: #8A0808;
  display: none;
  font-size: 18px;
  padding: 12px;
}
