<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie application</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    </head>
    <body>
      <div class="head-content">
        <h1>Movie app</h1>
        <p>A simple web application to find information on movies, directors, episode titles, and more!</p>
      </div>
      <div class="form">
        <input type="text" id="query" placeholder="Search for stuff!" name="query" />
        <button type="submit" id="submit" value="Search" />
      </div>
    </body>
</html>
