<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie application :: User management</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename = 'extra.js') }}">
    </head>
    <body>
      <div class="user-masthead">
        <p>Welcome back <b>Sham Navathe</b>! <a href='/my-list'>View your list</a> or <a href='/logout'>logout</a>.</p>
      </div>
      <div class="head-content">
        <h1>User management</h1>
        <p>Use this screen to modify user permissions and delete users.</p>
      </div>
      
    </body>
</html>
